<%- include header %>
<a class="tag" href="/imessage">返回</a>
<br/>
 <% for(var key in messages.imessage){%>

  <% if (messages.imessage[key].seid==messages.reid) { %>
      <span class="info" style="float:right" ><%= messages.imessage[key].seid %>：<%= messages.imessage[key].message %></span></p><br/>
     
    <% } else { %>
      
    <span class="info" ><%= messages.imessage[key].seid %>(<%= messages.imessage[key].sename %>)：<%= messages.imessage[key].message %></span></p><br/>
    <% } %>

 <%}%>

<%- include footer %>



