<%- include header %>
<form method="post">
<div ng-app="">
账号名：<input type="text" name="reid" value={{name}}>
<select name="changereid" ng-model="name">
         <% alluser.forEach(function(user,index){%>
        <option value="<%= user.iid %>"><%= user.iid %>(<%= user.name %>)</option>
         <% }) %>
</select>
<br/>
消息：<input type="text" name="message" /><br/>
<input type="submit" value="发送" />
</div>
</form>
<br>
<hr>
<% messages.forEach(function(message,index){%>

<% if (message.sign=='no') { %>
      时间：<%=message.time.minute %>
	<form action="/viewmessage" method="post">
        <input type="text" name="seid" value="<%=message.seid %>" />
        <input type="submit" value="查看" style="margin-right: 5em;" /><span style="color:red;">*</span>
    </form>
    <a href="/deletefile/<%=message.seid %>/<%=message.seid %>" class="dele" />删除</a>
     <br/>
    <% } else { %>
      
    时间：<%=message.time.minute %>
	<form action="/viewmessage" method="post">
        <input type="text" name="seid" value="<%=message.seid %>" />
        <input type="submit" value="查看" style="margin-right: 5em;" />
    </form>
    <a href="/deletefile/<%=message.seid %>/<%=message.seid %>" class="dele" />删除</a>
<br>
    <% } %>

  
<% }) %>


<%- include paging %>
<%- include footer %>